<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>Trivia Arena</title>
	
	<script src="jquery/dist/jquery.min.js" type="text/javascript"></script>
		
	<link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="bootstrap/dist/css/bootstrap-theme.min.css">
	<script type="text/javascript" src="bootstrap/dist/js/bootstrap.min.js"></script>
	
	<link rel="stylesheet" href="styles/trivia-arena.css">
	<script type="text/javascript" src="styles/trivia-arena.js"></script>
	
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Trivia Arena</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="#home" data-toggle="collapse" data-target=".navbar-collapse.in">Home</a></li>
        <li><a href="#getinfo" data-toggle="collapse" data-target=".navbar-collapse.in">Name</a></li>
        <li><a href="#choose" data-toggle="collapse" data-target=".navbar-collapse.in">Choose</a></li>
        <li><a href="#play" data-toggle="collapse" data-target=".navbar-collapse.in">Play</a></li>
        <li><a href="#scores" data-toggle="collapse" data-target=".navbar-collapse.in">Scores</a></li>
        <li><a href="#about" data-toggle="collapse" data-target=".navbar-collapse.in">About</a></li>
      </ul>
    </div>
  </div>
</nav>

<section id="home">
  <div class="container">
    <div class="header">
    	<div class="jumbotron">
    		<h1>Welcome to Trivia Arena!</h1>
    		<h3>Trivia Arena is an interactive quiz game where can have fun, battle your friends, and learn all at the same time!</h3>
    	</div>
    </div>
  </div>
</section>

<section id="getinfo">
  <div class="container">
    <h2>Enter Your Name</h2>
    <form class="form-inline">
      <div class="form-group">
        <label for="name">Name:</label>
          <input type="name" class="form-control" id="name" href='#'>
      </div>
    <button type="submit" class="btn btn-lg btn-default" id='submit' href='#'>Submit</button>
    </form>
  </div>
</section>

<section id="choose">
  <div class="container">
    <h2>Choose your set of terms here</h2>
    <p>
      <button type="button" class="btn btn-lg btn-default" id='set1' href='#'>Set 1</button>
      <button type="button" class="btn btn-lg btn-default" id='set2' href='#'>Set 2</button>
      <button type="button" class="btn btn-lg btn-default" id='set3' href='#'>Set 3</button>
    </p>
    <br>
      <button type="button" class="btn btn-lg btn-default" data-toggle="modal" data-target="#add">Add Your Own Questions Here!</button>
      <div class="modal fade" id="add" role="dialog">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h2 class="modal-title">Enter Your Question</h2>
            </div>
            <div class="modal-body">
              <p>Enter the Question Set:
                <form class="form-inline">
                  <div class="form-group">
                    <input type="input" class="form-control" id="input" href='#'>
                  </div>
                </form>
              </p>
              <p>Enter The Question:
                <form class="form-inline">
                  <div class="form-group">
                    <input type="input" class="form-control" id="input" href='#'>
                  </div>
                </form>
              </p>
              <p>Enter The 1st Answer:
                <form class="form-inline">
                  <div class="form-group">
                    <input type="input" class="form-control" id="input" href='#'>
                  </div>
                </form>
              </p>
              <p>Enter The 2nd Answer:
                <form class="form-inline">
                  <div class="form-group">
                    <input type="input" class="form-control" id="input" href='#'>
                  </div>
                </form>
              </p>
              <p>Enter The 3rd Answer:
                <form class="form-inline">
                  <div class="form-group">
                    <input type="input" class="form-control" id="input" href='#'>
                  </div>
                </form>
              </p>
              <p>Enter The 4th Answer:
                <form class="form-inline">
                  <div class="form-group">
                    <input type="input" class="form-control" id="input" href='#'>
                  </div>
                </form>
              </p>
              <p>Enter The 5th Answer:
                <form class="form-inline">
                  <div class="form-group">
                    <input type="input" class="form-control" id="input" href='#'>
                  </div>
                </form>
              </p>
              <p>Enter The Number of the correct Answer:
                <form class="form-inline">
                  <div class="form-group">
                    <input type="input" class="form-control" id="input" href='#'>
                  </div>
                </form>
              </p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal" style="float: left;">Submit</button>
              <button type="button" class="btn btn-default" data-dismiss="modal" style="float: left;">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="play">
  <div class="container">
    <h2>Game</h2>
      <div id="game">
   			<br/>
  			<div id='quiz'></div>
    		<div class='button' id='next'><a href='#'>Next</a></div>
    		<div class='button' id='prev'><a href='#'>Prev</a></div>
    		<div class='button' id='start'><a href='#'>Start Over</a></div>
    	</div>
		<script src="styles/quiz.js"></script>
  </div>
</section>

<section id="scores">
  <div class="container">
    <h2>Scoreboard</h2>
      <div class="row">
        <div class="col-md-6">
          <table class="table table-bordered" id='scoreboard' href='#'>
            <thead>
              <tr>
                <th>Username</th>
                <th>Score</th>
                <th>Set</th>
              </tr>
            </thead>
            <tbody id='tbody' href='#'>
            </tbody>
          </table>
        </div>
  </div>
</section>

<section id="about">
  <div class="container">
  	<div class="footer">
  		<h4>About This Website:</h4>
  		<p>This is a Project for CSCE 436 Computer Human Interaction</p>
  		<h4>Contact Us:</h4>
  		<p>Jonathan Ng - ngalingding@tamu.edu</p>
      <p>Cesar Arriaga - cesarr15@tamu.edu</p>
      <p>Cory Fleitas - cfleitas@tamu.edu</p>
      <p>Brandon Jackson - brj2013@tamu.edu</p>
  	</div>
  </div>
</section>

</body>
</html>